html
{
    scroll-behavior: unset;
}
body
{
overflow: hidden;
}

#PageContainer
{
    height: 100vh;
}
.bd-highlight {
    background-color: rgba(222,222,222,.15);
    border: 1px solid rgba(222,222,222,.15);
}
#SectionResume
{
    background-image: url("imgs/.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Sansita Swashed', cursive;
    
}
#MenuContainer
{
    min-width:300px;
    max-width:300px;
    font-family: 'JetBrains Mono', monospace;
    background-image: url(../imgs/111.jpg);
}
#h3t
{
    border-bottom: 2px solid red;
    width: 80px;
    
}
#ContentContainer
{
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#ContentContainer section
{
    min-height: 100vh;
}


.border-5
{
    border-width: 10px;
    border-style: solid;
    
}
#SectionHome
{
    background-image: url("../imgs/111.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
#SectionHome > div
{
    height: 100vh;
}
.typedHome
{
    border-bottom: 2px solid maroon;
    font-size: 110%;
    padding-bottom: 4px;
}
.marker
{
    font-size:16px;
    color:red;
}
.resumeBorder
{
border-left: 5px solid silver;


}
.resumeBorder::before
{
    content:"";
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: silver;
    display: block;
    position: relative;
    left: -25px; 
}
  
#upButton 
{
    background-color :lightgrey;
    color: darkgray;
    padding: 9px 2px;
    border-radius: 55px;
    border-color: #46b8da;
    position: fixed;
    bottom: 15px;
    right: 30px;
    display: inline; border: solid ;border-radius: 50px; padding: 2px 5px; 
}

#aboutPhoto
{
    border: solid 5px transparent;
    border-radius: 20px;
    width: 259px; 
    height: 315px;
}